<html>
  <link rel="stylesheet" href="style.css"
  

<body>
  <div class="header">
    <a href="#default" class="logo"> 같이 혼밥</a>
    <div class="header-right">
      <a class="active" href="#home">홈</a>
      <a href="#contact">소개</a>
      <a href="#about">회원가입</a>
      <a href="#about">메뉴 선택</a>
      <a href="#about">맛집 추천</a>
      <a href="#about">나눠먹기</a>
      <a href="#about">혼밥기록</a>
      <a href="#about">불만사항</a>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <img src="image5.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>김다미</h2>
          <p class="title"> 을지로 평냉 스겜</p>
          <p>같이 을지면옥에서/ 2차 없음</p>
          <p>1인당 2만원 이하</p>
          <p><button class="button"> 같이 혼밥하기 (1/2)</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="image2.jpg" alt="Mike" style="width:80%">
        <div class="container">
          <h2>김은교</h2>
          <p class="title"> 이태원 파스타 뽀개기</p>
          <p>토마토 / 크림 두개 시켜서 반씩 먹으실분?</p>
          <p>1인당 3만원 이상</p>
          <p><button class="button"> 같이 혼밥하기 (2/4)
          </button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="image4.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>고아성</h2>
          <p class="title">삼겹살에 소주 한잔 스겜</p>
          <p> 술 강권없는 스겜. 근데 무조건 엔빵</p>
          <p>무조건 엔빵</p>
          <p><button class="button1"> 같이 혼밥하기 (4/4)</button></p>
        </div>
      </div>
    </div>
  </div>
  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: gray;
      color: white;
      text-align: left;
    }
    
    </style>
    
    <div class="footer">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
    <p> 주식회사 같이혼밥
      대표 ㅇㅇㅇ | 사업자등록번호 326-86-01375
      서울특별시 종로구 율곡로10길 12, 2,-3층 (와룡동, 창덕이십일)
      1522-4616 | 통신판매업신고 2019-서울종로-0920</p>
    </div>
</body>
</html> 